.income-container {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  width: 800px;
  justify-content: space-between;
}

.income-warpper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.money {
  /* display: flex;
width: 300px;
height: 150px;
margin-left: 650px;
margin-top: 200px;
text-align: right; */
}
